@import "../../variables.scss";

.header {
  position: fixed;
  left: 0;
  top: 0;
  border-bottom: 1px solid $colorMain;
  z-index: 2;

  height: $headerHeight;
  width: 100%;

  color: $colorMain;
  background-color: #fff;

  -webkit-box-shadow: 0px -6px 16px 5px rgba(100, 149, 237, 0.5);
  -moz-box-shadow: 0px -6px 16px 5px rgba(100, 149, 237, 0.5);
  box-shadow: 0px -6px 16px 5px rgba(100, 149, 237, 0.5);
}

.logo {
  position: absolute;
  left: 20px;
  top: 15px;
  font-size: 24px;
  color: #6495ed;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.input-wrapper {
  position: absolute;
  right: 420px;
  height: $headerHeight;
}
.add-city-input {
  position: absolute;
  left: 0;
  top: 12px;
  height: 22px;
  width: 320px;
  border: 1px solid $colorMain;
  color: #4e4e4e;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  padding-top: 4px;
}
.add-city-input::placeholder{
    color: #919191;
}
.add-city-button {
  position: absolute;
  top: 12px;

  left: 340px;
  height: 30px;
  width: 60px;
  border: 1px solid $colorMain;
  background-color: $colorBackground;
  color: $colorMain;
  font-weight: 600;
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.add-city-input:focus,
.add-city-button:focus {
  outline: none;
}
.add-city-button:hover {
  color: $colorBackground;
  background-color: $colorSecond;
}
.color-span{
  color: $blueSecond;
}
.communicate{
  top: 11px;
  width: 500px;
  position: absolute;
  right: 440px;
  height: 30px;
  background-color: $colorBackground;
  text-align: right;
  color: $colorRed;
  padding-top: 8px;
}
