//app colors

$backgroundColor: #1A1C1F;
$secondBackgroundColor: #303030;
$fontColor: #E8EBEE;
$borderColor: #5F6468;

@mixin color-theme {
    background-color: $backgroundColor;
    color: $fontColor;
    border-color: $borderColor;
}

//color palette

.primary{
    background-color: $backgroundColor;
}

.purple{
    background-color: purple;
}

.green{
    background-color: green;
}

.black{
    background-color: black;
}

.red{
    background-color: darkred;
}

.orange{
    background-color: darkorange;
}