body {
  background-color: #444;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.drumkit {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.channels {
  width: 100%;
  margin-top: 20px;
  text-align: center;
}
.sound-button {
  border-radius: 12px;
  color: #efefef;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 500;
  width: 116px;
  height: 116px;
  display: inline-block;
  background-color: #3c854e;
  margin: 12px;
}

.sound-button:focus {
  outline: none;
  box-shadow: none;
}

.sound-button-transition-effect {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.channel-component {
  width: 348px;
  margin: 20px auto;
  padding: 20px;
  border: 2px solid #efefef;
  text-align: left;
  border-radius: 12px;
  background-color: #777;
}

.play-button {
  background-color: #c4ffc9;
  color: #005c08;
}

.record-button {
  background-color: #ffd9d9;
  color: #ff0000;
}
.channel-button {
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 16px;
  border: none;
  border-radius: 12px;
  transition: all 0.4s;
}
.play-button:focus {
  outline: none;
  box-shadow: none;
}
.record-button:focus {
  outline: none;
  box-shadow: none;
}
.channel-label {
  margin-left: 12px;
  color: #efefef;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: default;
}

.play-all-button {
  width: 392px;
  margin: 5 auto;
  height: 40px;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  background-color: #c4ffc9;
  color: #005c08;
  font-size: 16px;
  border: none;
  border-radius: 12px;
  transition: all 0.4s;
}
.play-all-button {
  outline: none;
  box-shadow: none;
}
