
.icon-pencil:before { content: '\e800'; } /* '' */
.icon-doc-add:before { content: '\e801'; } /* '' */
.icon-check:before { content: '\e802'; } /* '' */
.icon-color-adjust:before { content: '\f020'; } /* '' */