
.icon-cancel-circled:before { content: '\e800'; } /* '' */
.icon-doc-add:before { content: '\e801'; } /* '' */
.icon-pin:before { content: '\e803'; } /* '' */
.icon-pin-outline:before { content: '\e804'; } /* '' */
.icon-color-adjust:before { content: '\f020'; } /* '' */